.header {
    padding: 15px;
    color: white;
    background-color: gray;
}

/* Search Box Styling */
label {
    font-size: 36px;
}

input {
    padding: 10px;
    border-radius: 4px;
}

.search-box {
    border-bottom: 2px solid black;
}

.search-btn-history {
    margin-bottom: 12px;
    padding: 8px;
    background-color: lightgray;
    border: none;
    border-radius: 4px;
}

.search-btn {
    padding: 8px;
    color: white;
    background-color: lightcoral;
    border: none;
    border-radius: 4px;
}

/* Forecast Styling */
ul {
    padding: 0px;
    list-style-type: none;
}

li {
    margin-top: 10px;
}

.daysforecast {
    margin: 10px;
    padding: 10px;
    color: white;
    background-color: gray;
    border-radius: 5px;
}

.daysforecast p {
    margin: 0px;
}

.icon {
    font-size: 50px;
    margin-bottom: 16px;
}

.current {
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

/* UV Index Styling */
.uvindex-favorable {
    padding: 3px 15px;
    color: white;
    background-color: green;
    border-radius: 4px;
}

.uvindex-moderate {
    padding: 3px 15px;
    color: black;
    background-color: yellow;
    border-radius: 4px;
}

.uvindex-severe {
    padding: 3px 15px;
    color: white;
    background-color: red;
    border-radius: 4px;
}

/* Utility Styling */
.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

/* Puesdo Classes */
.search-btn:hover {
    background-color: red;
}

.search-btn-history:hover {
    background-color: gray;
    color: white;
}